@import url("https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300;700&display=swap");
@font-face {
  font-family: "Gabriola";
  font-style: normal;
  font-weight: normal;
  src: local("Gabriola"), url("../vendor/gabriola Font Download.woff") format("woff"); }

*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  background-image: url(../img/hero.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }

a {
  text-decoration: none;
  color: #fff; }

li {
  list-style: none; }

.nav__container {
  display: flex;
  justify-content: space-between;
  font-family: gabriola; }

.head__conatiner {
  display: flex; }

.heading {
  position: relative;
  color: #fff;
  animation-name: upToDown;
  animation-duration: 0.8s;
  animation-delay: 0.5s;
  animation-timing-function: ease-in;
  animation-fill-mode: backwards;
  font-family: "Zilla Slab", serif; }
  .heading--header {
    text-align: center;
    margin-top: 8rem; }
  .heading--about {
    text-align: left;
    margin-left: 22rem;
    transform: translateY(4rem); }
  .heading__container--head {
    font-size: 12rem; }
    .heading__container--head--1 {
      font-size: 8rem;
      text-align: right;
      transform: translate(10rem, -2rem); }
    .heading__container--head--2 {
      font-size: 2rem;
      text-align: right;
      transform: translate(18rem, -2rem); }
  .heading__container--about {
    font-size: 12rem;
    font-weight: bolder; }

.cross__container {
  position: absolute;
  width: 22rem;
  top: -4.5rem;
  left: -9rem;
  z-index: -1; }

@media (max-width: 1350px) {
  .heading__container--head {
    font-size: 11.5rem; }
    .heading__container--head--1 {
      font-size: 7.5rem; }
    .heading__container--head--2 {
      font-size: 1.9rem; } }

@media (max-width: 1200px) {
  .heading--header {
    transform: translateX(-6rem); }
  .heading__container--head {
    font-size: 11rem; }
    .heading__container--head--1 {
      font-size: 7rem;
      transform: translate(9rem, -2rem); }
    .heading__container--head--2 {
      font-size: 1.8rem;
      transform: translate(16.8rem, -2rem); }
  .cross__container--head {
    top: -4.9rem; } }

@media (max-width: 1050px) {
  .heading--header {
    transform: translateX(-4rem); }
  .heading__container--head {
    font-size: 10rem; }
    .heading__container--head--1 {
      font-size: 6rem;
      transform: translate(7rem, -2rem); }
    .heading__container--head--2 {
      font-size: 1.7rem;
      transform: translate(16rem, -2rem); }
  .cross__container--head {
    width: 20rem;
    top: -4.5rem;
    left: -8.4rem; } }

@media (max-width: 850px) {
  .heading--header {
    transform: translateX(-2rem); }
  .heading--header {
    margin-top: 14rem; }
  .heading__container--head {
    font-size: 9rem; }
    .heading__container--head--1 {
      font-size: 5rem;
      transform: translate(0, -1rem); }
    .heading__container--head--2 {
      font-size: 1.7rem;
      transform: translate(12.8rem, 0); }
  .cross__container--head {
    top: -4.2rem;
    left: -7.5rem;
    width: 18rem; } }

@media (max-width: 700px) {
  .heading--header {
    transform: translateX(5rem); }
  .heading__container--head {
    font-size: 8rem; }
    .heading__container--head--1 {
      font-size: 4.5rem;
      transform: translate(0, -1rem); }
    .heading__container--head--2 {
      font-size: 1.8rem;
      font-weight: 800;
      text-align: center;
      transform: translate(0, 2rem); }
  .cross__container--head {
    width: 16rem;
    top: -3.5rem;
    left: -7rem; } }

@media (max-width: 550px) {
  .heading--header {
    transform: translateX(0); }
  .heading__container--head {
    font-size: 7rem; }
    .heading__container--head--1 {
      font-size: 4.5rem;
      transform: translate(0, 0);
      text-align: center; }
  .cross__container--head {
    width: 25rem;
    top: 50%;
    left: 50%;
    opacity: 0.6;
    transform: translate(-50%, -50%); } }

@media (max-width: 400px) {
  .heading__container--head {
    font-size: 5.5rem; }
    .heading__container--head--1 {
      font-size: 4rem; }
    .heading__container--head--2 {
      font-size: 1.5;
      font-weight: normal; }
  .cross__container--head {
    width: 20rem; } }

.btn, .btn:link, .btn:visited {
  cursor: pointer;
  border: 0.4rem solid #fff;
  font-size: 3.5rem;
  padding: 1rem;
  color: #fff;
  font-weight: 100;
  transition: background-color 0.4s, color 0.4s; }

.btn:active {
  transform: translateY(-5px); }

.btn--pink {
  background-color: transparent;
  margin-bottom: 7rem; }
  .btn--pink:hover, .btn--pink:focus {
    outline: none;
    color: #ff6476;
    background-color: #fff; }

@media (max-width: 1350px) {
  .btn--pink {
    font-size: 3.2rem; } }

@media (max-width: 1200px) {
  .btn--pink {
    font-size: 3rem; } }

@media (max-width: 1200px) {
  .btn--pink {
    font-size: 2.8rem; } }

@media (max-width: 1050px) {
  .btn--pink {
    font-size: 2.6rem;
    margin-bottom: 5rem; } }

@media (max-width: 850px) {
  .btn {
    display: none; } }

.svg_container {
  overflow: hidden;
  width: 5rem; }

.svg {
  position: absolute;
  animation-name: zoomInOut;
  animation-duration: 1s;
  animation-delay: 0.8s;
  animation-fill-mode: backwards;
  animation-timing-function: ease-in; }

.mac {
  width: 90%;
  right: 0;
  z-index: -99; }

.circle {
  width: 8rem;
  z-index: -5; }
  .circle--up {
    top: 5%;
    left: 65%; }
  .circle--down {
    top: 70%;
    left: 10%; }
  .circle--about--up {
    top: 10%;
    left: 65%; }
  .circle--about--down {
    bottom: 20%;
    left: 10%; }

.dots {
  width: 12rem;
  z-index: -5;
  overflow: hidden; }
  .dots--up {
    top: 16%;
    right: 17.5%; }
  .dots--down {
    bottom: 0;
    right: 0; }
    .dots--down img {
      position: relative;
      top: 0.4rem;
      right: -3.2rem; }
  .dots--about--up {
    z-index: 1;
    left: 44%;
    top: 56%; }
  .dots--about--down {
    z-index: 1;
    width: 16rem;
    right: 0;
    bottom: 0; }

.square {
  width: 12rem;
  z-index: -5; }
  .square--white {
    top: 20%;
    right: 0; }
  .square--about--white {
    z-index: 1;
    width: 9rem;
    bottom: 30%;
    right: 10%; }

.message-box {
  width: 17rem;
  top: 26%;
  right: 20%; }

@media (max-width: 1350px) {
  .dots--down {
    width: 11rem; }
    .dots--down img {
      top: 0.6rem;
      right: -3rem; }
  .circle--up {
    left: 60%; } }

@media (max-width: 1200px) {
  .dots--up {
    width: 11rem;
    top: 20%; }
  .square {
    width: 11rem; }
    .square--white {
      right: 1rem; } }

@media (max-width: 1050px) {
  .dots--up {
    display: none; }
  .circle {
    width: 10rem; }
    .circle--up {
      left: 65%; }
    .circle--down {
      left: 10%;
      top: 65%; }
  .square {
    width: 12rem; }
    .square--white {
      top: 30%; } }

@media (max-width: 850px) {
  .dots--down {
    width: 12rem; }
    .dots--down img {
      top: 0;
      right: 0; }
  .circle {
    width: 10rem; }
    .circle--up {
      top: 10%;
      left: 80%; }
    .circle--down {
      left: 10%;
      top: 70%; }
  .square {
    width: 12rem; }
    .square--white {
      display: none; } }

@media (max-width: 700px) {
  .circle--down {
    left: 10%;
    top: 75%; } }

@media (max-width: 550px) {
  .circle {
    width: 8rem; }
    .circle--down {
      left: 10%;
      top: 75%; } }

.nav__bar {
  display: flex;
  margin-top: 2rem;
  padding: 0 4rem;
  animation-name: leftToRight;
  animation-duration: 0.8s;
  animation-delay: 0.3s;
  animation-fill-mode: backwards;
  animation-timing-function: ease-in; }
  .nav__bar__link {
    font-size: 3.4rem; }
    .nav__bar__link:not(:last-child) {
      margin-right: 3.2rem; }

.menu {
  display: none;
  background-color: transparent;
  width: 50px;
  height: 50px;
  border: 0;
  cursor: pointer; }

.link--pink--active, .link--pink--active:link, .link--pink--active:visited {
  color: #ff6476; }

.link--green--active, .link--green--active:link, .link--green--active:visited {
  color: #76ff64; }

.link::after {
  content: "";
  display: block;
  width: 0;
  height: 3px;
  background: #fff;
  transition: width 0.3s;
  margin-top: -1.5rem; }

.link:hover::after, .link:active::after {
  width: 100%; }

.link:active::after {
  transform: translateY(-3px); }

.link--pink:hover {
  color: #ff6476; }

.link--pink::after {
  background: #ff6476; }

.link--green:hover {
  color: #76ff64; }

.link--green::after {
  background: #76ff64; }

.logo {
  width: 200px;
  animation-name: rightToLeft;
  animation-duration: 1s;
  animation-delay: 0.3s;
  animation-fill-mode: backwards;
  animation-timing-function: ease-in; }

@media (max-width: 1350px) {
  .nav__bar__link {
    font-size: 3.2rem; } }

@media (max-width: 1200px) {
  .nav__bar__link {
    margin-right: 3rem;
    font-size: 3rem; } }

@media (max-width: 1050px) {
  .nav__bar__link {
    margin-right: 2.5rem;
    font-size: 2.8rem; } }

@media (max-width: 850px) {
  nav {
    position: relative; }
  .nav__container {
    background-color: yellow;
    height: 60px; }
  .nav__bar {
    flex-direction: column;
    position: fixed;
    margin: 0;
    top: 0;
    background-color: #ff6476;
    width: 100%;
    height: 100vh;
    justify-content: space-evenly;
    align-items: center;
    clip-path: circle(0px at 4% 4%);
    -webkit-clip-path: circle(0px at 4% 4%);
    transition: all 0.8s ease-out;
    z-index: 999; }
    .nav__bar__link {
      font-size: 3.4rem;
      margin-right: 0rem;
      visibility: hidden;
      transition: visibility 1s; }
      .nav__bar__link:not(:last-child) {
        margin-right: 0rem; }
    .nav__bar.open {
      clip-path: circle(300vw at 4% 4%);
      -webkit-clip-path: circle(300vw at 4% 4%); }
      .nav__bar.open .nav__bar__link {
        visibility: visible; }
  .menu {
    display: block;
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
    z-index: 1000; }
  .menu:focus {
    outline: none; }
  .link, .link:link, .link:visited, .link:hover {
    color: #fff;
    margin: 0;
    padding: 2rem 6rem;
    background-color: black; }
  .link::after {
    display: none; }
  .logo {
    width: 120px; } }

.social--container {
  margin-right: 10rem;
  margin-bottom: 1rem;
  animation-name: rightToLeft;
  animation-duration: 0.8s;
  animation-delay: 0.7s;
  animation-fill-mode: backwards;
  animation-timing-function: ease-in; }

.social ul {
  display: flex;
  justify-content: space-between; }

svg {
  width: 3.8rem;
  border-radius: 5px;
  fill: #fff;
  padding: 0.1rem;
  transition: background-color 0.4s, transform 0.4s; }

.social__link a:focus {
  outline: none; }
  .social__link a:focus svg {
    transform: scale(1.2);
    background-color: grey; }

.facebook:hover {
  background-color: #3b5998;
  transform: translateY(-0.3rem) rotate(-20deg); }

.insta:hover {
  background-image: linear-gradient(#8a3ab9, #bc2a8d, #e95950, #fbad50, #fccc63);
  transform: translateY(-0.3rem) rotate(-20deg); }

.twitter:hover {
  background-color: #1da1f2;
  transform: translateY(-0.3rem) rotate(-20deg); }

.twitter:active,
.facebook:active,
.insta:active {
  transform: translateY(-0.1rem); }

@media (max-width: 1350px) {
  .social--container {
    margin-right: 8rem; }
  svg {
    width: 3.6rem; } }

@media (max-width: 1200px) {
  .social--container {
    margin-right: 6rem; }
  svg {
    width: 3.2rem; } }

@media (max-width: 1050px) {
  .social--container {
    margin-right: 4rem;
    margin-bottom: 4rem; }
  svg {
    width: 3.2rem; } }

@media (max-width: 850px) {
  .social--container {
    margin: 4rem 0 0 0; }
  .social ul {
    min-width: 20rem;
    width: 25rem; }
  svg {
    width: 4rem; } }

@media (max-width: 700px) {
  .social--container {
    margin: 6rem 0 0 0;
    transform: translateX(3rem); } }

@media (max-width: 550px) {
  .social--container {
    transform: translateX(0); }
  .social ul {
    width: 20rem; }
  svg {
    width: 3.5rem; } }

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative; }

.head__conatiner--header {
  justify-content: center; }

.social__container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end; }

@media (max-width: 850px) {
  .social__container {
    justify-content: flex-start;
    align-items: center; } }

.teams__container {
  display: flex;
  position: relative;
  flex-grow: 1;
  width: 100%;
  justify-content: flex-end;
  position: relative;
  overflow-x: hidden;
  z-index: -1; }

h2 {
  color: white;
  font-size: 2.5rem;
  text-align: center;
  margin-top: 2rem; }

.team {
  height: 100%;
  min-width: 850px;
  width: 70%;
  background-image: linear-gradient(to right, yellow, pink);
  padding-top: -8rem;
  transform: skewX(-15deg);
  position: relative;
  right: -8%; }
  .team__container {
    display: flex;
    height: 100%;
    align-items: center;
    position: relative;
    right: 6%; }
  .team__member {
    display: flex;
    width: 100%;
    height: 80%;
    flex-basis: 18%;
    flex-direction: column; }
    .team__member:not(:last-child) {
      margin-right: 1%; }
    .team__member--1 {
      flex-grow: 0.4;
      background-color: black; }
    .team__member--2 {
      flex-grow: 5;
      background-image: url(/img/hero.png);
      background-position: center; }
    .team__member--3 {
      flex-grow: 1;
      background-color: black; }
