*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  background-image: url(../img/hero.png);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden; }

a {
  text-decoration: none;
  color: black; }

ul li {
  list-style: none; }

.heading {
  position: relative;
  text-align: center;
  color: #fff;
  z-index: 1;
  animation-name: upToDown;
  animation-duration: 0.8s;
  animation-timing-function: ease-in; }
  .heading--header {
    margin-top: 15rem; }
  .heading__container {
    display: inline-block; }
    .heading__container h1 {
      display: block;
      font-size: 12rem; }
    .heading__container--head {
      margin-right: -20rem; }
      .heading__container--head--1 {
        display: block;
        text-align: right;
        font-size: 6rem;
        margin-right: -8rem; }
      .heading__container--head--2 {
        font-size: 1.95rem;
        text-align: right;
        margin-right: -21rem; }

@keyframes zoomInOut {
  0% {
    opacity: 0;
    transform: scale(0); }
  80% {
    transform: scale(1.4); }
  100% {
    opacity: 1;
    transform: scale(1); } }

@keyframes upToDown {
  0% {
    opacity: 0;
    transform: translateY(-300px); }
  80% {
    transform: translateY(40px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes leftToRight {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  80% {
    transform: translateX(40px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes rightToLeft {
  0% {
    opacity: 0;
    transform: translateX(100px); }
  80% {
    transform: translateX(-40px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

.btn, .btn:link, .btn:visited {
  cursor: pointer;
  border: 0.4rem solid #fff;
  text-align: center;
  font-size: 3.5rem;
  padding: 1rem;
  margin-bottom: 4rem;
  align-self: center;
  color: #fff;
  font-weight: 100;
  transition: color 0.5s, box-shadow 0.5s; }

.btn:hover, .btn:focus {
  box-shadow: inset 6.5em 0 0 0 transparent; }

.btn:active {
  transform: translateY(-3px); }

.btn--pink {
  background-color: transparent; }
  .btn--pink:hover {
    color: #ff6476;
    box-shadow: inset 6.5em 0 0 0 #fff; }

.cross {
  width: 22rem;
  position: absolute;
  z-index: -1; }
  .cross--white {
    top: -23%;
    left: 32%; }

.circle {
  width: 8rem;
  position: absolute;
  animation-name: zoomInOut;
  animation-duration: 1s;
  animation-delay: 0.5s;
  animation-fill-mode: backwards;
  animation-timing-function: ease-in; }
  .circle--up {
    top: 5%;
    left: 65%;
    z-index: 1; }
  .circle--down {
    top: 70%;
    left: 10%; }

.square {
  position: absolute;
  width: 12rem;
  animation-name: zoomInOut;
  animation-duration: 1s;
  animation-delay: 0.5s;
  animation-fill-mode: backwards;
  animation-timing-function: ease-in; }
  .square--white {
    top: 20%;
    right: 0;
    z-index: 1; }

.dots {
  position: absolute;
  width: 12rem;
  animation-name: zoomInOut;
  animation-duration: 1s;
  animation-delay: 0.5s;
  animation-fill-mode: backwards;
  animation-timing-function: ease-in; }
  .dots--up {
    top: 16%;
    right: 17.5%; }
  .dots--down {
    bottom: -2%;
    right: -2%; }

.nav__bar {
  display: flex;
  animation-name: leftToRight;
  animation-duration: 0.8s;
  animation-timing-function: ease-in; }
  .nav__bar__link {
    list-style: none;
    margin-left: 3rem;
    margin-top: 2rem;
    font-size: 2.5rem; }
    .nav__bar__link .link, .nav__bar__link .link:link, .nav__bar__link .link:visited {
      color: #fff;
      transition: color 0.3s; }
    .nav__bar__link .link::after {
      content: "";
      display: block;
      width: 0;
      height: 2px;
      background: #fff;
      transition: width 0.3s;
      margin-top: 0.4rem; }
    .nav__bar__link .link:hover::after, .nav__bar__link .link:active::after {
      width: 100%; }
    .nav__bar__link .link:active::after {
      transform: translateY(-3px); }
    .nav__bar__link .link--pink:hover {
      color: #ff6476; }
    .nav__bar__link .link--pink::after {
      background: #ff6476; }
    .nav__bar__link .link--green:hover {
      color: #76ff64; }
    .nav__bar__link .link--green::after {
      background: #76ff64; }

header {
  overflow: hidden; }

.deco-1 {
  width: 100vw;
  height: 100vh; }

.background {
  position: absolute;
  height: 100vh;
  top: 0;
  right: -10%; }

.social__conatainer {
  display: inline-flex;
  flex-direction: column;
  position: absolute; }
  .social__conatainer--big {
    bottom: 0;
    right: 0;
    margin-bottom: 1%;
    margin-right: 5%;
    z-index: 1;
    animation-name: rightToLeft;
    animation-duration: 0.8s;
    animation-timing-function: ease-in; }

.social ul {
  display: flex;
  flex-direction: row; }
  .social ul li {
    margin: 2rem; }
  .social ul svg, .social ul svg:link, .social ul svg:visited {
    width: 3.4rem;
    border-radius: 5px;
    fill: #fff;
    padding: 0.1rem;
    transition: background-color 0.25s; }
  .social ul .facebook:hover {
    background-color: #3b5998;
    transform: translateY(-0.3rem) rotate(-20deg); }
  .social ul .insta:hover {
    background-image: linear-gradient(#8a3ab9, #bc2a8d, #e95950, #fbad50, #fccc63);
    transform: translateY(-0.3rem) rotate(-20deg); }
  .social ul .twitter:hover {
    background-color: #1da1f2;
    transform: translateY(-0.3rem) rotate(-20deg); }
  .social ul .twitter:active,
  .social ul .facebook:active,
  .social ul .insta:active {
    transform: translateY(-0.1rem); }
