.nav__bar {
  display: flex;
  animation-name: leftToRight;
  animation-duration: 0.8s;
  animation-timing-function: ease-in;

  &__link {
    list-style: none;
    margin-left: 3.2rem;
    margin-top: 2rem;
    font-size: 2.5rem;

    .link {
      &,
      &:link,
      &:visited {
        color: #fff;
        transition: color 0.3s;
      }

      &::after {
        content: "";
        display: block;
        width: 0;
        height: 2px;
        background: #fff;
        transition: width 0.3s;
        margin-top: 0.4rem;
      }

      &:hover::after,
      &:active::after {
        width: 100%;
      }

      &:active::after {
        transform: translateY(-3px);
      }

      &--pink {
        &:hover {
          color: #ff6476;
        }
        & {
          &::after {
            background: #ff6476;
          }
        }
      }

      &--green {
        &:hover {
          color: #76ff64;
        }
        & {
          &::after {
            background: #76ff64;
          }
        }
      }
    }
  }
}

@include respond(1350) {
  .nav__bar {
    &__link {
      margin-left: 3rem;
      font-size: 2.4rem;
    }
  }
}

@include respond(1200) {
  .nav__bar {
    &__link {
      margin-left: 2.8rem;
      font-size: 2.35rem;
    }
  }
}

@include respond(1050) {
  .nav__bar {
    &__link {
      margin-left: 2.5rem;
      font-size: 2.3rem;
    }
  }
}
