/////////////////////////////////////////////////
///////// COMMON BUTTON STYLE
/////////////////////////////////////////////////
.btn {

  //WHEN BUTTON IS IS NORMAL STATE
  &,
  &:link,
  &:visited {
    cursor: pointer;
    border: 0.4rem solid #fff;
    text-align: center;
    font-size: 3.5rem;
    padding: 1rem;
    margin-bottom: 4rem;
    align-self: center;
    color: #fff;
    font-weight: 100;
    transition: color 0.5s, box-shadow 0.5s;
  }

  //WHEN BUTTON IS HOVERED AND FOCUSED
  &:hover,
  &:focus {
    box-shadow: inset 6.5em 0 0 0 transparent;
  }

  //WHEN BUTTON IS CLICKED
  &:active {
    transform: translateY(-3px);
  }

  //HEADER BUTTON
  &--pink {
    background-color: transparent;

    &:hover {
      color: #ff6476;
      box-shadow: inset 6.5em 0 0 0 #fff;
    }
  }
}

/////////////////////////////////////////////////
///////// MEDIA QUERRIES
/////////////////////////////////////////////////
@include respond(1350) {
  .btn--pink {
    font-size: 3.2rem;
  }
}

@include respond(1200) {
  .btn {
    &,
    &:link,
    &:visited {
      margin-bottom: 3rem;
    }
    &--pink {
      font-size: 3rem;
    }
  }
}
