/////////////////////////////////////////////////
///////// COMMON BUTTON STYLE
/////////////////////////////////////////////////
.btn {
  //WHEN BUTTON IS IS NORMAL STATE
  &,
  &:link,
  &:visited {
    cursor: pointer;
    border: 0.4rem solid #fff;
    font-size: 3.5rem;
    padding: 1rem;
    color: #fff;
    font-weight: 100;
    transition: background-color 0.4s, color 0.4s;
    background-color: transparent;
    margin-bottom: 7rem;
  }

  //WHEN BUTTON IS CLICKED
  &:active {
    transform: translateY(-5px);
  }

  &:hover,
  &:focus {
    outline: none;
    background-color: #fff;
  }

  //HEADER BUTTON
  &--pink {
    &:hover,
    &:focus {
      color: $home-pink;
    }
  }

  &--blue {
    &:hover,
    &:focus {
      color: $contact-blue;
      background-color: transparent;
    }
  }
}

/////////////////////////////////////////////////
///////// MEDIA QUERRIES
/////////////////////////////////////////////////
@include respond(1350) {
  .btn--pink {
    font-size: 3.2rem;
  }
}

@include respond(1200) {
  .btn--pink {
    font-size: 3rem;
  }
}

@include respond(1200) {
  .btn--pink {
    font-size: 2.8rem;
  }
}

@include respond(1050) {
  .btn--pink {
    font-size: 2.6rem;
    margin-bottom: 5rem;
  }
}

@include respond(850) {
  .btn {
    display: none;
  }
}
