.btn {
  &,
  &:link,
  &:visited {
    cursor: pointer;
    border: 0.4rem solid #fff;
    text-align: center;
    font-size: 3.5rem;
    padding: 1rem;
    margin-bottom: 4rem;
    align-self: center;
    color: #fff;
    font-weight: 100;
    transition: color 0.5s, box-shadow 0.5s;
  }

  &:hover,
  &:focus {
    box-shadow: inset 6.5em 0 0 0 transparent;
  }

  &:active{
    transform: translateY(-3px);
  }

  &--pink {
    background-color: transparent;

    &:hover {
      color: #ff6476;
      box-shadow: inset 6.5em 0 0 0 #fff;
    }
  }
}
