/////////////////////////////////////////////////
///////// ALL SVGS SETTING
/////////////////////////////////////////////////

//CROSS SVG USED IN HEADING BACK OF EVERY PAGE
.cross {
  width: 22rem;
  position: relative;
  z-index: -1;

  //CROSS SVG USED IN HEADING BACK OF HOME PAGE
  &--pink {
    top: -8.5rem;
    left: 12.9rem;
  }

  //CROSS SVG USED IN HEADING BACK OF ABOUT US PAGE
  &--green {
    top: 5rem;
    left: 12rem;
  }
}

//CIRCLE SVG
.circle {
  width: 8rem;
  position: absolute;
  animation-name: zoomInOut;
  animation-duration: 1s;
  animation-delay: 0.5s;
  animation-fill-mode: backwards;
  animation-timing-function: ease-in;

  //CIRCLE IN UPPER DIRECTION
  &--up {
    top: 5%;
    left: 65%;
    z-index: 1;
  }

  //CIRCLE IN LOWER DIRECTION
  &--down {
    top: 70%;
    left: 10%;
  }
}

//SQUARE SVG
.square {
  position: absolute;
  width: 12rem;
  animation-name: zoomInOut;
  animation-duration: 1s;
  animation-delay: 0.5s;
  animation-fill-mode: backwards;
  animation-timing-function: ease-in;

  &--white {
    top: 20%;
    right: 0;
    z-index: 1;
  }
}

//DOTS SVG
.dots {
  position: absolute;
  width: 12rem;
  animation-name: zoomInOut;
  animation-duration: 1s;
  animation-delay: 0.5s;
  animation-fill-mode: backwards;
  animation-timing-function: ease-in;

  //DOTS IN UPPER DIRECTION
  &--up {
    top: 16%;
    right: 17.5%;
  }

  //DOTS IN LOWER DIRECTION
  &--down {
    bottom: -2%;
    right: -2%;
  }
}


/////////////////////////////////////////////////
///////// MEDIA QUERRIES
/////////////////////////////////////////////////
@include respond(1350) {
  .cross {
    width: 21rem;

    &--pink {
      top: -8rem;
    }
  }

  .dots {
    &--down {
      width: 11rem;
      bottom: -1%;
    }
  }

  .circle {
    &--up {
      left: 60%;
    }
  }
}

@include respond(1200) {
  .dots {
    &--up {
      width: 11rem;
    }
  }

  .square {
    width: 11rem;

    &--white {
      right: 1rem;
    }
  }

  .cross {
    width: 20rem;

    &--pink {
      top: -7.5rem;
      left: 12rem;
    }
  }
}

@include respond(1050) {
  .circle {
    width: 7.5rem;

    &--up {
      top: 12%;
      left: 50%;
    }

    &--down {
      top: 74%;
      left: 8%;
    }
  }

  .dots {
    width: 10rem;

    &--up {
      top: 18%;
      right: 24%;
    }

    &--down {
      bottom: -2%;
      right: -2.8%;
    }
  }

  .square {
    width: 10rem;

    &--white {
      top: 28%;
      right: 4rem;
    }
  }
}
