// /////////////////////////////////////////////////
// ///////// ALL SVGS SETTING
// /////////////////////////////////////////////////
.svg_container {
  overflow: hidden;
  width: 5rem;
}

.svg {
  position: absolute;
  animation-name: zoomInOut;
  animation-duration: 1s;
  animation-delay: 0.8s;
  animation-fill-mode: backwards;
  animation-timing-function: ease-in;
}

.side-bar {
  height: 100vh;
  width: 100vw;
  z-index: -9999;
  overflow: hidden;

  img {
    position: absolute;
    right: 0;
    height: 100%;
  }
}

.mac {
  right: 0;
  z-index: -99;

  & img {
    width: 60vw;
  }
}

//CIRCLE SVG
.circle {
  width: 8rem;
  z-index: -5;

  //CIRCLE IN UPPER DIRECTION
  &--up {
    top: 5%;
    left: 65%;
  }

  //CIRCLE IN LOWER DIRECTION
  &--down {
    top: 70%;
    left: 10%;
  }

  //CIRCLE IN UPPER DIRECTION
  &--about--up {
    top: 10%;
    left: 65%;
  }

  &--about--down {
    bottom: 20%;
    left: 10%;
  }

  &--contact--up {
    top: 15%;
    left: 5%;
  }

  &--contact--down {
    bottom: 15%;
    left: 65%;
  }
}

//DOTS SVG
.dots {
  width: 12rem;
  z-index: -5;
  overflow: hidden;

  //DOTS IN HOME UPPER DIRECTION
  &--up {
    top: 16%;
    right: 17.5%;
  }

  //DOTS IN HOME LOWER DIRECTION
  &--down {
    bottom: 0;
    right: 0;

    img {
      position: relative;
      top: 0.4rem;
      right: -3.2rem;
    }
  }

  //DOTS IN ABOUT UP
  &--about--up {
    z-index: 1;
    left: 44%;
    top: 56%;
  }

  //DOTS IN ABOUT DOWN
  &--about--down {
    z-index: 1;
    width: 16rem;
    right: 0;
    bottom: 0;
  }
}

//SQUARE SVG
.square {
  width: 12rem;
  z-index: -5;

  &--white {
    top: 20%;
    right: 0;
  }

  &--about--white {
    z-index: 1;
    width: 9rem;
    bottom: 30%;
    right: 10%;
  }
}

.message-box {
  width: 17rem;
  top: 26%;
  right: 20%;
}

.cont_girl {
  width: 45%;
  bottom: 0;
  left: 0;
}

/////////////////////////////////////////////////
///////// MEDIA QUERRIES
/////////////////////////////////////////////////
@include respond(1350) {
  .dots {
    &--down {
      width: 11rem;

      img {
        top: 0.6rem;
        right: -3rem;
      }
    }
  }

  .circle {
    &--up {
      left: 60%;
    }
  }

  .side-bar {
    img {
      right: -4rem;
    }
  }

  //SQUARE SVG
  .square {
    &--white {
      width: 11rem;
      top: 20%;
      right: 0;
    }
  }
}

@include respond(1200) {
  .dots {
    &--up {
      width: 11rem;
      top: 20%;
    }
  }

  .square {
    width: 11rem;

    &--white {
      right: 1rem;
    }
  }

  .side-bar {
    img {
      right: -6rem;
    }
  }

    //SQUARE SVG
    .square {
      &--white {
        width: 10rem;
      }
    }
}

@include respond(1050) {
  .dots {
    &--up {
      display: none;
    }
  }

  .circle {
    width: 10rem;
    &--up {
      left: 65%;
    }

    &--down {
      left: 10%;
      top: 65%;
    }
  }

  .square {
    width: 10rem;
    &--white {
      top: 20%;
    }
  }

  .side-bar {
    img {
      right: -12rem;
    }
  }
}

@include respond(850) {
  .dots {
    &--down {
      width: 12rem;
      img {
        top: 0;
        right: 0;
      }
    }
  }

  .circle {
    width: 10rem;
    &--up {
      top: 10%;
      left: 80%;
    }

    &--down {
      left: 10%;
      top: 70%;
    }
  }

  .square {
    width: 12rem;
    &--white {
      display: none;
    }
  }

  .side-bar {
    display: none;
  }
}

@include respond(700) {
  .circle {
    &--down {
      left: 10%;
      top: 75%;
    }
  }
}

@include respond(550) {
  .circle {
    width: 8rem;

    &--down {
      left: 10%;
      top: 75%;
    }
  }
}
