@import url("https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300;700&display=swap");

@font-face {
  font-family: "Gabriola";
  font-style: normal;
  font-weight: normal;
  src: local("Gabriola"),
    url("../vendor/gabriola\ Font\ Download.woff") format("woff");
}

*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-image: url(../img/hero.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

a {
  text-decoration: none;
  color: #fff;
}

li {
  list-style: none;
}
