@font-face {
  font-family: "Gabriola";
  font-style: normal;
  font-weight: normal;
  src: local("Gabriola"),
    url("../vendor/gabriola\ Font\ Download.woff") format("woff");
}

@font-face {
  font-family: "Choplin";
  font-style: normal;
  font-weight: normal;
  src: local("Choplin"),
    url("../vendor/Choplin-Medium-DEMO.woff") format("woff");
}

*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  overflow: hidden;
}

a {
  text-decoration: none;
  color: black;
}

ul li {
  list-style: none;
}
