/////////////////////////////////////////////////
///////// COMMON HEADING
/////////////////////////////////////////////////
.heading {
  position: relative;
  color: #fff;
  animation-name: upToDown;
  animation-duration: 0.8s;
  animation-delay: 0.5s;
  animation-timing-function: ease-in;
  animation-fill-mode: backwards;
  font-family: "Zilla Slab", serif;

  //HEADER HEADING WITH CROSS
  &--header {
    text-align: center;
    margin-top: 8rem;
  }

  //ABOUT HEADING WITH CROSS
  &--about {
    text-align: left;
    margin-left: 22rem;
    transform: translateY(4rem);
  }

  /////////////////////////////////////////////////
  ///////// COMMON HEADING CONTAINER
  /////////////////////////////////////////////////
  &__container {
    &--head {
      font-size: 12rem;

      &--1 {
        font-size: 8rem;
        text-align: right;
        transform: translate(10rem, -2rem);
      }

      &--2 {
        font-size: 2rem;
        text-align: right;
        transform: translate(18rem, -2rem);
      }
    }

    //ABOUT US HEADER
    &--about {
      font-size: 12rem;
      font-weight: bolder;
    }
  }
}

//CROSS
.cross__container {
  position: absolute;
  width: 22rem;
  top: -4.5rem;
  left: -9rem;
  z-index: -1;
}

/////////////////////////////////////////////////
///////// MEDIA QUERRIES
/////////////////////////////////////////////////
@include respond(1350) {
  .heading {
    &__container {
      &--head {
        font-size: 11.5rem;

        &--1 {
          font-size: 7.5rem;
        }

        &--2 {
          font-size: 1.9rem;
        }
      }
    }
  }
}

@include respond(1200) {
  .heading {
    &--header {
      transform: translateX(-6rem);
    }

    &__container {
      &--head {
        font-size: 11rem;

        &--1 {
          font-size: 7rem;
          transform: translate(9rem, -2rem);
        }

        &--2 {
          font-size: 1.8rem;
          transform: translate(16.8rem, -2rem);
        }
      }
    }
  }

  .cross__container {
    &--head {
      top: -4.9rem;
    }
  }
}

@include respond(1050) {
  .heading {
    &--header {
      transform: translateX(-4rem);
    }

    &__container {
      &--head {
        font-size: 10rem;

        &--1 {
          font-size: 6rem;
          transform: translate(7rem, -2rem);
        }

        &--2 {
          font-size: 1.7rem;
          transform: translate(16rem, -2rem);
        }
      }
    }
  }

  .cross__container {
    &--head {
      width: 20rem;
      top: -4.5rem;
      left: -8.4rem;
    }
  }
}

@include respond(850) {
  .heading {
    &--header {
      transform: translateX(-2rem);
    }

    &--header {
      margin-top: 14rem;
    }

    &__container {
      &--head {
        font-size: 9rem;

        &--1 {
          font-size: 5rem;
          transform: translate(0, -1rem);
        }

        &--2 {
          font-size: 1.7rem;
          transform: translate(12.8rem, 0);
        }
      }
    }
  }

  .cross__container {
    &--head {
      top: -4.2rem;
      left: -7.5rem;
      width: 18rem;
    }
  }
}

@include respond(700) {
  .heading {
    &--header {
      transform: translateX(5rem);
    }

    &__container {
      &--head {
        font-size: 8rem;

        &--1 {
          font-size: 4.5rem;
          transform: translate(0, -1rem);
        }

        &--2 {
          font-size: 1.8rem;
          font-weight: 800;
          text-align: center;
          transform: translate(0, 2rem);
        }
      }
    }
  }

  .cross__container {
    &--head {
      width: 16rem;
      top: -3.5rem;
      left: -7rem;
    }
  }
}

@include respond(550) {
  .heading {
    &--header {
      transform: translateX(0);
    }

    &__container {
      &--head {
        font-size: 7rem;

        &--1 {
          font-size: 4.5rem;
          transform: translate(0, 0);
          text-align: center;
        }
      }
    }
  }

  .cross__container {
    &--head {
      width: 25rem;
      top: 50%;
      left: 50%;
      opacity: 0.6;
      transform: translate(-50%, -50%);
    }
  }
}

@include respond(400) {
  .heading {
    &__container {
      &--head {
        font-size: 5.5rem;

        &--1 {
          font-size: 4rem;
        }

        &--2 {
          font-size: 1.5;
          font-weight: normal;
        }
      }
    }
  }

  .cross__container {
    &--head {
      width: 20rem;
    }
  }
}
