.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

.nav__container {
  display: flex;
  justify-content: space-between;
  font-family: gabriola;
}

.head__conatiner {
  display: flex;
  justify-content: center;
}

.social__container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

@include respond(850) {
  .social__container {
    justify-content: flex-start;
    align-items: center;
  }
}
